.formdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 30px;
    background-color: whitesmoke;
    margin: auto;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.formdiv form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formdiv label {
    font-size: 16px;
    margin-bottom: 5px;
}

.formdiv input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 100%;
}

.formdiv input[type="submit"] {
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
}

.formdiv input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.normal-footer{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
}
.predictiondiv p{
    font-size: 60px;
}